@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h4>Welcome to the TaskTracker!</h4>
        <a class="btn btn-primary" asp-action="AddingTaskForm">To add a task click here!</a>
    </div>
</body>
</html>
