@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Karzhaubay Ayan<br />
    Almaty<br />
    <abbr title="e-mail">ayan.karzhaubay@gmail.com</abbr><br />
    <abbr title="Phone">8 (707) 108 2127</abbr><br />
</address>
